@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #161B22;
  color: white;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #1c2128;
  border-bottom: 1px solid #333;
}

.navbar h1 {
  font-size: 24px;
}

.navbar button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar button:hover {
  background-color: black;
  color: white;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}

.left-column {
  width: 40%;
}

.left-column h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.timed-tests h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.test-option {
  font-size: 18px;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #1c2128;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.test-option:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.test-option button{
    padding: 5px;
   position: absolute;
    left: 35%;
}

.test-option button:hover{
    cursor: pointer;
}

.right-column {
  width: 50%;
  background-color: #1c2128;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.right-column h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.progress-graph {
  border: 2px dashed white;
  padding: 20px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

