body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 1.2em;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #218838;
}

#recipeResults {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.recipe-card {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.recipe-card img {
    width: 100%;
    border-radius: 8px;
}

.recipe-card h3 {
    font-size: 1.4em;
    margin-top: 10px;
}

.recipe-card p {
    font-size: 1.1em;
    margin: 10px 0;
}
